<link rel="stylesheet" href="/stylesheets/helper-view-user.css">
<div class="row">
    <div class="col-md-12">
        <div class="text-center" id="nav-wrapper">
            <nav id="nav" class="navbar" role="navigation">
                <ul class="nav navbar-nav">
                    <li id="first"><a href="/meetups">MEETUPS</a></li>
                    <li class="active"><a href="/recommendations">RECOMMENDATIONS</a></li>
                    <li id="last"><a href="/logout" target="_self">LOGOUT</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="user-profile-wrap">
            <div class="heading-wrap">
                <h1> {{user.username}}'s profile </h1>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#recommendationModal">Make a recommendation for {{user.username}}</button>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="diary-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="diary-heading-wrap">
                                    <h2 class="text-center heading"> Diary entries </h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    {{#each user.diaryEntries}}
                                        <p class="diary-entry"><a href="#modalDIARY" data-toggle="modal" data-diary-date="{{this.date}}" data-diary-rating="{{this.rating}}" data-diary-text="{{this.text}}"><i class="fa fa-book" aria-hidden="true"></i> {{this.date}} - Happy rating: {{this.rating}}/10</a></p>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="habits-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="heading-wrap">
                                    <h2 class= "heading"> Tracked habits </h2>
                                </div>
                                <div class="row">
                                    <div class="habit-wrapper">
                                        {{#each user.habits}}
                                            <div class="col-md-6">
                                                <a href ="habits/{{this.name}}">
                                                    <div class="habit text-center">
                                                        <div class="icon">
                                                            <i class="fa fa-bed fa-3x" aria-hidden="true"></i>
                                                            <h4> {{this.name}} </h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="recommendationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Recommendation for {{user.username}}</h4>
      </div>
      <div class="modal-body">
          <form class="create-meetup" form method="POST" action="/helper/recommendation/{{user.username}}/create">
              <input type="text" class="form-control" name ="name" placeholder="recommendation name..." required autofocus>
              <textarea id="about" class="form-control" name="description" placeholder="recommendation description..."></textarea>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Create recommendation</button>
          </form>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="modalDIARY">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="diaryDate" class="modal-title text-center"></h3>
            </div>
            <div class="modal-body">
                <h4> Daily mood rating </h4>
                <p id="diaryRating"></p>
                <h4> Comments on day </h4>
                <p id="diaryText" ></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="habitMODAL">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="diaryDate" class="modal-title text-center"></h3>
            </div>
            <div class="modal-body">
                <div id="general_div"></div>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"> </script>
<script src="/javascripts/view-user.js"></script>
