<link rel="stylesheet" href="/stylesheets/helper-view-user.css">
<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    google.charts.load('current', {packages: ['corechart', 'bar', 'calendar']});
google.charts.setOnLoadCallback(drawAxisTickColors);

function drawAxisTickColors() {



       var data = new google.visualization.DataTable();

      var dates = [];

      for (i = 0; i < 31; i++) { 
        var monthago = new Date();
        monthago.setDate(monthago.getDate() - i);
        dates.push(monthago);
        
      }   


      data.addColumn({ type: 'date', id: 'Date' });
      data.addColumn({ type: 'number', id: 'Systolic' });
      data.addColumn({ type: 'number', id: 'Systolic' });
      data.addColumn({ type: 'number', id: 'Diastolic' });
      data.addColumn({ type: 'number', id: 'Diastolic' });
      data.addColumn({ type: 'number', id: 'Heart rate' });
      data.addRows([
        [dates[0], 80, 80, 90, 90,55],
        [dates[1], 90, 90, 105, 105,58],
        [dates[2], 75, 75, 100, 100,60],
        [dates[3], 80, 80, 110, 110,55],
        [dates[4], 90, 90, 105, 105,70],
        [dates[5], 90, 90, 105, 105,65],
        [dates[6], 80, 80, 110, 110,74],
        [dates[7], 90, 90, 105, 105,67],
        [dates[8], 90, 90, 105, 105,64],
        [dates[9], 90, 90, 105, 105,68],
        [dates[10], 80, 80, 110, 110,61],
        [dates[11], 90, 90, 105, 105,61],
        [dates[12], 80, 80, 110, 110,70],
        [dates[13], 90, 90, 105, 105,65],
        [dates[14], 80, 80, 110, 110,68],
        [dates[15], 90, 90, 105, 105,65],
        [dates[16], 80, 80, 110, 110,72],
        [dates[17], 90, 90, 105, 105,66],
        [dates[18], 80, 80, 110, 110,74],
        [dates[19], 80, 80, 110, 110,61],
        [dates[20], 90, 90, 105, 105,61],
        [dates[21], 80, 80, 110, 110,70],
        [dates[22], 90, 90, 105, 105,65],
        [dates[23], 80, 80, 110, 110,68],
        [dates[24], 90, 90, 105, 105,65],
        [dates[25], 80, 80, 110, 110,72],
        [dates[26], 90, 90, 105, 105,66],
        [dates[27], 80, 80, 110, 110,74],
        [dates[28], 80, 80, 110, 110,61],
        [dates[29], 90, 90, 105, 105,61],
        [dates[30], 80, 80, 110, 110,70]
      ]);

   

        var options = {
          legend: 'none',
          seriesType: "candlesticks",
           series: {
                1: {type: "line"}
            },
          bar: { groupWidth: '3px' }, // Remove space between bars.
          candlestick: {
            fallingColor: { strokeWidth: 0, fill: '#a52714' }, // red
            risingColor: { strokeWidth: 0, fill: '#a52714' }   // red
          },
          height: 600,
          width: 600
        };

        var chart = new google.visualization.ComboChart(document.getElementById('blood_div'));
        chart.draw(data, options);
    }


    </script>
  </head>


<div class="row">
    <div class="col-md-12">
        <div class="text-center" id="nav-wrapper">
            <nav id="nav" class="navbar" role="navigation">
                <ul class="nav navbar-nav">
                    <li id="first"><a href="/meetups">MEETUPS</a></li>
                    <li class="active"><a href="/recommendations">RECOMMENDATIONS</a></li>
                    <li id="last"><a href="/logout" target="_self">LOGOUT</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="user-profile-wrap">
            <div class="heading-wrap">
                <h1> {{user.username}}'s profile </h1>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#recommendationModal">Make a recommendation for {{user.username}}</button>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="diary-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="diary-heading-wrap">
                                    <h2 class="text-center heading"> Diary entries </h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    {{#each user.diaryEntries}}
                                        <p class="diary-entry"><a href="#modalDIARY" data-toggle="modal" data-diary-date="{{this.date}}" data-diary-rating="{{this.rating}}" data-diary-text="{{this.text}}"><i class="fa fa-book" aria-hidden="true"></i> {{this.date}} - Happy rating: {{this.rating}}/10</a></p>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="habits-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="heading-wrap">
                                    <h2 class= "heading"> Tracked habits </h2>
                                </div>
                                <div class="row">
                                    <div class="habit-wrapper">
                                        {{#each user.habits}}
                                            <div class="col-md-6">
                                                <a href="#habitMODAL" data-toggle="modal" data-habit-name="{{this.name}}">
                                                    <div class="habit text-center">
                                                        <div class="icon">
                                                            <i class="fa fa-bed fa-3x" aria-hidden="true"></i>
                                                            <h4> {{this.name}} </h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="recommendationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Recommendation for {{user.username}}</h4>
      </div>
      <div class="modal-body">
          <form class="create-meetup" form method="POST" action="/helper/recommendation/{{user.username}}/create">
              <input type="text" class="form-control" name ="name" placeholder="recommendation name..." required autofocus>
              <textarea id="about" class="form-control" name="description" placeholder="recommendation description..."></textarea>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Create recommendation</button>
          </form>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="modalDIARY">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="diaryDate" class="modal-title text-center"></h3>
            </div>
            <div class="modal-body">
                <h4> Daily mood rating </h4>
                <p id="diaryRating"></p>
                <h4> Comments on day </h4>
                <p id="diaryText" ></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="habitMODAL">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="diaryDate" class="modal-title text-center"></h3>
            </div>
            <div class="modal-body">
         
                <h3 id="habitName"></h3>
                <div id="blood_div"></div>
   
            
                
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"> </script>
<script src="/javascripts/view-user.js"></script>
