<link rel="stylesheet" href="/stylesheets/meetup-details.css">

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="meetup-wrapper text-center">
            <div class="header-wrapper">
                <h1> {{meetup.name}} </h1>
            </div>
            <div class="field-wrapper">
                <h3>Attending</h3>
                <div class="checkbox">
                    <label class="switch">
                      <input type="checkbox">
                      <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="field-wrapper">
                <h3>{{meetup.date}} at {{meetup.time}}</h3>
            </div>
            <div class="field-wrapper">
                <h3>{{meetup.location}}</h3>
            </div>
            <div class="field-wrapper">
                <h3 class="detail-header">Details of meetup</h3>
                <h5>{{meetup.about}}</h5>
            </div>
            <div id="last" class="field-wrapper">
                <h3 class="attending-heading">Users attending</h3>
                <div class="row">
                    {{#each meetup.attending}}
                            <div class="col-md-6">
                                <div class="person-div">
                                    <img class="user-img img-circle" src="/images/placeholder.png" /><span class="username">{{this}}</span>
                                </div>
                            </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
