<link rel="stylesheet" href="/stylesheets/recommendations.css">
<div class="row">
    <div class="col-md-12">
        <div class="text-center" id="nav-wrapper">
            <nav id="nav" class="navbar" role="navigation">
                <ul class="nav navbar-nav">
                    <li id="first"><a href="/dashboard">DASHBOARD</a></li>
                    <li><a href="/habits">HABITS</a></li>
                    <li><a href="/meetups">MEETUPS</a></li>
                    <li><a href="/recommendations">RECOMMENDATIONS</a></li>
                    <li id="last"><a href="/logout" target="_self">LOGOUT</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class = "col-md-5">
        <div class="helper-wrap">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center" style="padding:0; margin:0; padding-bottom:10px;"> Your helper </h2>
                    <img class="user-img img-circle" src="/images/placeholder.png" /><span class="username">{{helper.username}}</span>
                    <h3 class="heading"> About {{helper.username}} </h3>
                    <p class="about"> {{helper.about}} </p>
                </div>
            </div>
        </div>
    </div>
    <div class = "col-md-7">
        <div class="recommendations-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-wrapper">
                        <h2 class="text-center" style="padding:0; margin:0; padding-bottom:10px;"> This weeks recommendations </h2>
                    </div>
                    <div class = "panel-wrapper">
                        <div class="row">
                            {{#if recommendations}}
                                {{#each recommendations}}
                                    <div class="col-md-12">
                                        <button class="accordion">{{this.name}}<i class="fa fa-angle-double-down pull-right"></i></button>
                                        <div class="panel">
                                            <div class="col-md-12">
                                                <div class="info-div">
                                                    <h4> {{this.description}} </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            {{else}}
                            <div class="col-md-12">
                                <h4 class="text-center"> {{helper.username}} has not provided any recommendations for you this week yet, Check back later. </h4>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="/javascripts/recommendations.js"></script>
