<link rel="stylesheet" href="/stylesheets/recommendations.css">
<div class="row">
    <div class = "col-md-5">
        <div class="helper-wrap">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center" style="padding:0; margin:0; padding-bottom:10px;"> Your helper </h2>
                    <img class="user-img img-circle" src="/images/placeholder.png" /><span class="username">{{helper.name}}</span>
                    <h3 class="heading"> About {{helper.name}} </h3>
                    <p class="about"> {{helper.description}} </p>
                </div>
            </div>
        </div>
    </div>
    <div class = "col-md-7">
        <div class="recommendations-wrap">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center" style="padding:0; margin:0; padding-bottom:10px;"> This weeks recommendations </h2>
                    <div class = "panel-wrapper">
                        <div class="row">
                            {{#each recommendations}}
                                <div class="col-md-12">
                                    <button class="accordion">{{this.name}}<i class="fa fa-angle-double-down pull-right"></i></button>
                                    <div class="panel">
                                        <div class="col-md-12">
                                            <div class="info-div">
                                                <h4> {{this.description}} </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="/javascripts/recommendations.js"></script>
