<link rel="stylesheet" href="/stylesheets/search_results.css">
<div class="row">
    <div class="col-md-12">
        <div class="text-center" id="nav-wrapper">
            <nav id="nav" class="navbar" role="navigation">
                <ul class="nav navbar-nav">
                    <li id="first"><a href="/dashboard">DASHBOARD</a></li>
                    <li><a href="/habits">HABITS</a></li>
                    <li><a href="/meetups">MEETUPS</a></li>
                    <li><a href="/recommendations">RECOMMENDATIONS</a></li>
                    <li id="last"><a href="/logout" target="_self">LOGOUT</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class = "row">
    <div class="col-md-12">
        <div class="results-wrap">
            <h1 class="text-center"> Found {{meetups.length}} Meetup(s) related to "{{query}}"</h1>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="meetup-container">
                        <div class = "row">
                            <div class="col-md-12">
                                <div class = "panel-wrapper">
                                    <div class="row">
                                        {{#each meetups}}
                                        <div class="col-md-12">
                                                <button class="accordion">{{this.name}}<i class="fa fa-angle-double-down pull-right"></i></button>                                    <div class="panel">
                                                    <div class="col-md-6">
                                                        <div class="info-div">
                                                            <h4><i class="fa fa-calendar" aria-hidden="true"></i> {{this.date}}</h4>
                                                            <h4><i class="fa fa-clock-o" aria-hidden="true"></i> {{this.time}}</h4>
                                                            <h4><i class="fa fa-globe" aria-hidden="true"></i> {{this.location}}</h4>
                                                            <h4><i class="fa fa-users" aria-hidden="true"></i> {{this.attending.length}} attending </h4>

                                                            <a href="/meetup/details/{{this.name}}" id="#view" class="btn btn-success" role="button">View Meetup!</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div id="map"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="/javascripts/search-results.js"></script>
<script>
  function initMap() {
    var uluru = {lat: 55.7708, lng: -4.8433};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBno2dMjm0Ec-IbWJ8xVOc-h5MJn-D1oCg&callback=initMap">
</script>
